:root{
	--mainColor:#85868d;
	--secondaryColor:#bdb9b9;

	--borderColor:#666b66;

	--mainText:#002f6b;
	--secondaryText:#0073a9;

	--themeDotBorder:#fff;

	--previewBg:rgba(31, 32, 21, 0.8);
	--previewShadow:#002f6b;


	--buttonColor:#c00b75;


}